  
<nav>
    <input type="checkbox" id="nav-toggle">
    <div class="logo"><strong>UNCOS</strong></div>
    <label for="nav-toggle" class="icon-burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </label>
    <ul class="links">
      <li><a>Home</a></li>
      <li><a>About</a></li>
      <li><a>Work</a></li>
      <li><a>Projects</a></li>
      <li><a>Contact</a></li>
      <li><button class="nav-button" routerLinkActive="active"  [routerLink]="['/post-creater']">Create post</button></li>
    </ul> 
  </nav>
  

